certifi
datasets
dnspython
Flask
Flask-Cors
Flask-Session
groq
httpx
joblib
matplotlib
numpy
pandas
pdfplumber
prophet
psutil
pymongo
python-dotenv
scikit-learn
spacy
torch
tqdm
transformers
werkzeug
yfinance